---
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Content from "~/components/widgets/Content.astro";
import { TypeAnimation } from "react-type-animation";
const metadata = {
  title: "Aadit Kamat",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    image={{
      src: "~/assets/images/Landing Page Photo.jpg",
      alt: "Aadit at Ben Hill Griffins",
    }}
  >
    <Fragment slot="title">
      <TypeAnimation cursor={false} sequence={["Hello,"]} client:only="react" />
      <TypeAnimation
        className="text-accent dark:text-white highlight"
        cursor={false}
        sequence={[750, "World! "]}
        client:only="react"
      />
      <TypeAnimation
        cursor={false}
        sequence={[1500, "This is "]}
        client:only="react"
      />
      <TypeAnimation
        className="text-accent dark:text-white highlight"
        cursor={false}
        sequence={[2250, "Aadit."]}
        client:only="react"
      />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline text-4xl">
        <TypeAnimation
          cursor={false}
          sequence={[3000, "Welcome to my ðŸ  on the internet."]}
          client:only="react"
        />
      </span>
    </Fragment>
  </Hero>

  <img class="mx-auto max-w-[80%] md:max-w-[60%] lg:max-w-[40%]" src="/images/Word Cloud.png" alt="Word Cloud"/>

  <Content isReversed title="My socials">
    <Fragment slot="content">
      <div
        class="flex flex-col space-y-12 md:flex-row md:space-x-36 md:space-y-0 md:items-center"
      >
        <div>
          <iframe
            src="https://aadit.substack.com/embed"
            title="Aadit's Substack"
            width="480"
            height="425"
            style="border:1px solid #EEE; background:white; margin: '0 auto';"
          >
          </iframe>
        </div>
        <div>
          <a
            class="twitter-timeline"
            data-lang="en"
            data-width="480"
            data-height="425"
            href="https://twitter.com/aaditkamat?ref_src=twsrc%5Etfw"
            >Tweets by aaditkamat</a
          >
        </div>
      </div>
    </Fragment>
  </Content>
</Layout>
