---
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Content from "~/components/widgets/Content.astro";
import { TypeAnimation } from "react-type-animation";
const metadata = {
  title: "Aadit Kamat",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    image={{
      src: "~/assets/images/landing-page.jpg",
      alt: "Aadit at Ben Hill Griffins",
    }}
  >
    <Fragment slot="title">
      <TypeAnimation cursor={false} sequence={["Hello,"]} client:only="react" />
      <TypeAnimation
        className="text-accent dark:text-white highlight"
        cursor={false}
        sequence={[750, "World! "]}
        client:only="react"
      />
      <TypeAnimation
        cursor={false}
        sequence={[1500, "This is "]}
        client:only="react"
      />
      <TypeAnimation
        className="text-accent dark:text-white highlight"
        cursor={false}
        sequence={[2250, "Aadit."]}
        client:only="react"
      />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline text-4xl">
        <TypeAnimation
          cursor={false}
          sequence={[3000, "Welcome to my 🏠 on the internet."]}
          client:only="react"
        />
      </span>
    </Fragment>
  </Hero>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-12 mx-[14%]">
    <div class="aspect-square">
      <iframe
        src="https://aadit.substack.com/embed"
        title="Aadit's Substack"
        class="w-full h-full border border-solid bg-white mx-auto my-0"
      >
      </iframe>
    </div>
    <div class="aspect-square">
      <iframe
        src="https://widget.tagembed.com/2163398"
        title="Aadit's LinkedIn"
        class="w-full h-full border border-solid bg-white mx-auto my-0"
      >
      </iframe>
    </div>
  </section>
</Layout>
